body { mid-width: 1120px; min-height: 700px; margin: 0px; padding: 0px; text-align: center; overflow: -moz-scrollbars-vertical; overflow-y: scroll;}
a:link { color: #0079c2; text-decoration: none;}
a:visited { color: #0079c2; text-decoration: none;}
a:hover { color: #0079c2; text-decoration: underline;}
a:active { color: #0079c2; text-decoration: none;}
