body {  }
div#wrapper { mid-width: 1120px; position: relative; width: 1120px; margin: 0 auto;}
div#wizard1	{position: absolute; width: 246; left: 0px; top: 316px; padding-left: 85px;}
div#wizard2	{position: absolute; width: 246; left: 0px; top: 315px; padding-left: 85px;}
div#nav1	{min-width: 943px; position: absolute; width: 943; left: 0px; top: 118px; padding-left: 90px;}
div#chest	{position: absolute; width: 291; left: 0px; top: 311px; padding-left: 65px; text-align: left;}
div#pagination_link_wrapper { width: 40px; }
li { margin: 0px; padding: 0px; }

a:link { color: #0079c2; text-decoration: none;}
a:visited { color: #0079c2; text-decoration: none;}
a:hover { color: #0079c2; text-decoration: underline;}
a:active { color: #0079c2; text-decoration: none;}

a.footer:link { color: #77787b; text-decoration: none;}
a.footer:visited { color: #77787b; text-decoration: none;}
a.footer:hover { color: #77787b; text-decoration: underline;}
a.footer:active { color: #77787b; text-decoration: none;}

a.login:link { color: #1e1d1e; text-decoration: none;}
a.login:visited { color: #1e1d1e; text-decoration: none;}
a.login:hover { color: #1e1d1e; text-decoration: underline;}
a.login:active { color: #1e1d1e; text-decoration: none;}

a.red:link { color: #ed1c24; text-decoration: underline;}
a.red:visited { color: #ed1c24; text-decoration: underline;}
a.red:hover { color: #1e1d1e; text-decoration: none;}
a.red:active { color: #ed1c24; text-decoration: underline;}

a.sidebar1:link { font-family: Trebuchet MS; font-size: 11px; color: #0079c2; text-decoration: none;}
a.sidebar1:visited { font-family: Trebuchet MS; font-size: 11px; color: #0079c2; text-decoration: none;}
a.sidebar1:hover { font-family: Trebuchet MS; font-size: 11px; color: #000000; text-decoration: underline;}
a.sidebar1:active { font-family: Trebuchet MS; font-size: 11px; color: #0079c2; text-decoration: none;}

a.black:link { color: #1e1d1e; text-decoration: underline;}
a.black:visited { color: #1e1d1e; text-decoration: underline;}
a.black:hover { color: #1e1d1e; text-decoration: none;}
a.black:active { color: #1e1d1e; text-decoration: underline;}

a.blue:link { color: #0054a6; text-decoration: underline;}
a.blue:visited { color: #0054a6; text-decoration: underline;}
a.blue:hover { color: #0054a6; text-decoration: none;}
a.blue:active { color: #0054a6; text-decoration: underline;}

.productApplications	{padding-left: 30px;}
.reg_bg { background-image: url(images/reg_bg.jpg); background-repeat: no-repeat;}
.shadow_left { background-image: url(images/shadow_left_slice.png); background-repeat: repeat-y;}
.shadow_right { background-image: url(images/shadow_right_slice.png); background-repeat: repeat-y;}
.black1	{background-color: #000000;}
.blue1	{background-color: #2397d0;}
.blue2	{background-color: #092a3f;}
.gray1	{background-color: #f2f3f3;}
.gray2	{background-color: #77787b;}
.white1	{background-color: #FFFFFF;}
.white2	{background-color: #fdfdf9;}
.text1	{font-family: Lucida Sans Unicode; font-size: 11px; color: #0079c2;}
.text2	{font-family: Lucida Sans Unicode; font-size: 13px; color: #2397d0;}
.text3	{font-family: Arial; font-size: 12px; color: #80777e; line-height: 16px;}
.text4	{font-family: Lucida Sans Unicode; font-size: 11px; color: #80777e;}
.text5	{font-family: Trebuchet MS; font-size: 14px; color: #000000; font-weight: bold; line-height: 15px; padding-bottom: 6px;}
.text6	{font-family: Trebuchet MS; font-size: 13px; color: #636466; line-height: 15px;}
.text7	{font-family: Trebuchet MS; font-size: 14px; line-height: 22px;}
.text8	{font-family: Trebuchet MS; font-size: 24px; color: #000000; line-height: 26px;}
.text9	{padding-right: 50px; font-family: Trebuchet MS; font-size: 14px; color: #58595b; line-height: 20px; text-align: left;}
.text10	{font-family: Trebuchet MS; font-size: 14px; color: #000000; line-height: 20px;}
.text11	{padding-left: 5px; font-family: Trebuchet MS; font-size: 12px; color: #000000; line-height: 14px; font-weight: bold;}
.text12	{text-align: left; font-family: Lucida Sans Unicode; font-size: 11px; color: #000000;}
.text13	{padding-left: 5px; font-family: Trebuchet MS; font-size: 24px; color: #000000; font-weight: bold;}
.text14	{padding-left: 5px; font-family: Trebuchet MS; font-size: 16px; color: #585858; font-weight: bold;}
.text15	{font-family: Trebuchet MS; font-size: 16px; color: #1f568a; font-weight: bold; text-align: left;}
.text16	{text-align: left; font-family: Trebuchet MS; font-size: 14px; color: #000000;}
.text17	{font-family: Trebuchet MS; font-size: 14px; color: #000000; font-weight: bold;}
.text18	{font-family: Trebuchet MS; font-size: 14px; color: #606365; line-height: 16px;}
.text19	{font-family: Trebuchet MS; font-size: 11px; color: #1f568a; font-weight: bold;}
.text20	{font-family: Trebuchet MS; font-size: 14px; color: #58595b; line-height: 18px;}
.text21	{font-family: Trebuchet MS; font-size: 18px; color: #030000; line-height: 22px; font-weight: bold;}
.text22	{font-family: Trebuchet MS; font-size: 14px; color: #000000; line-height: 18px; font-weight: bold;}
.text23	{font-family: Trebuchet MS; font-size: 13px; color: #1e1d1e; line-height: 14px;}
.text24	{font-family: Trebuchet MS; font-size: 14px; color: #1e1d1e; padding-top: 3px; padding-bottom: 3px;}
.text25	{padding-left: 6px; font-family: Trebuchet MS; font-size: 14px; color: #000000;}
.text26	{font-family: Trebuchet MS; font-size: 12px; color: #1e1d1e;}
.text27	{font-family: Trebuchet MS; font-size: 24px; color: #000000; font-weight: bold;}
.text28	{padding-top: 5px; padding-bottom: 5px; font-family: Trebuchet MS; font-size: 13px; color: #1e1d1e; line-height: 14px;}
.text29	{font-family: Trebuchet MS; font-size: 18px; color: #1e1d1e; font-weight: bold;}
.text30	{font-family: Trebuchet MS; font-size: 14px; color: #1e1d1e; line-height: 18px;}
.text31	{font-family: Trebuchet MS; font-size: 17px; color: #656565; font-weight: normal; line-height: 19px;}
.text32	{font-family: Trebuchet MS; font-size: 14px; color: #000000; font-style: italic; line-height: 16px;}
.text33	{font-family: Trebuchet MS; font-size: 14px; color: #1f568a; font-weight: bold; line-height: 16px;}
.text34	{font-family: Trebuchet MS; font-size: 13px; color: #1e1d1e; line-height: 16px; width: 230px; padding-right: 20px;}
.text35	{font-family: Trebuchet MS; font-size: 13px; color: #1e1d1e; line-height: 16px;}
.text36	{font-family: Trebuchet MS; font-size: 12px; color: #58595b; line-height: 14px; font-weight: bold;}
.form1	{margin: 0px; padding: 0px;}
.formfield1	{ width: 158px; height: 17px; font-family: Lucida Sans Unicode; font-size: 11px; color: #0079c2; border: 0px; background-image: url(images/search_bg.jpg); background-repeat: repeat-x;}
.formfield2	{ font-family: Trebuchet MS; font-size: 14px; color: #000000; border: 0px; }
.formfield3	{ width: 240px; font-family: Trebuchet MS; font-size: 14px; color: #000000; }
.formfield4	{ width: 220px; font-family: Trebuchet MS; font-size: 14px; color: #000000; }
.formfield5	{ width: 400px; height: 100px; font-family: Trebuchet MS; font-size: 14px; color: #000000; }
.formbutton1	{ font-family: Trebuchet MS; font-size: 14px; color: #000000; }
h1	{padding-left: 5px; padding-right: 0px; padding-top: 0px; padding-bottom: 13px; font-family: Trebuchet MS; font-size: 24px; color: #000000; font-weight: bold; margin: 0px; line-height: 25px;}

.bg_aerospace { background-image: url(images/bg_aerospace.jpg); background-repeat: no-repeat; background-position: top center;}
.bg_wrentham { background-image: url(images/bg_wrentham.jpg); background-repeat: no-repeat; background-position: top center;}
.bg_military { background-image: url(images/bg_military.jpg); background-repeat: no-repeat; background-position: top center;}
.bg_marine { background-image: url(images/bg_marine.jpg); background-repeat: no-repeat; background-position: top center;}
.bg_industrial { background-image: url(images/bg_industrial.jpg); background-repeat: no-repeat; background-position: top center;}
.bg_electronics { background-image: url(images/bg_electronics.jpg); background-repeat: no-repeat; background-position: top center;}
.bg_diy { background-image: url(images/bg_diy.jpg); background-repeat: no-repeat; background-position: top center;}
.bg_automotive { background-image: url(images/bg_automotive.jpg); background-repeat: no-repeat; background-position: top center;}
.bg_about_us { background-image: url(images/bg_about_us.jpg); background-repeat: no-repeat; background-position: top center;}
.bg_products { background-image: url(images/bg_products.jpg); background-repeat: no-repeat; background-position: top center;}
.bg_quality { background-image: url(images/bg_quality.jpg); background-repeat: no-repeat; background-position: top center;}
.bg_genuine { background-image: url(images/bg_genuine.jpg); background-repeat: no-repeat; background-position: top center;}
.bg_library { background-image: url(images/bg_library.jpg); background-repeat: no-repeat; background-position: top center;}
.bg_library_new { background-image: url(images/bg_library_new.jpg); background-repeat: no-repeat; background-position: top center;}
.bg_licensee { background-image: url(images/bg_licensee.jpg); background-repeat: no-repeat; background-position: top center;}
.bg_library_chest { background-image: url(images/bg_library_chest.png); background-repeat: no-repeat; background-position: top center;}
.bg_news { background-image: url(images/bg_news.jpg); background-repeat: no-repeat; background-position: top center;}

.bg_acr_phillips { padding-top: 6px; font-family: Trebuchet MS; font-size: 14px; color: #1e1d1e; line-height: 18px; background-image: url(images/bg_acr_phillips.jpg); background-repeat: no-repeat; background-position: bottom right;}
.bg_acr_torq-set { padding-top: 6px; font-family: Trebuchet MS; font-size: 14px; color: #1e1d1e; line-height: 18px; background-image: url(images/bg_acr_torq-set.jpg); background-repeat: no-repeat; background-position: bottom right;}
.bg_hexstix { padding-top: 6px; font-family: Trebuchet MS; font-size: 14px; color: #1e1d1e; line-height: 18px; background-image: url(images/bg_hexstix.jpg); background-repeat: no-repeat; background-position: bottom right;}
.bg_mortorq { padding-top: 6px; font-family: Trebuchet MS; font-size: 14px; color: #1e1d1e; line-height: 18px; background-image: url(images/bg_mortorq.jpg); background-repeat: no-repeat; background-position: bottom right;}
.bg_mortorq_super { padding-top: 6px; font-family: Trebuchet MS; font-size: 14px; color: #1e1d1e; line-height: 18px; background-image: url(images/bg_mortorq_super.jpg); background-repeat: no-repeat; background-position: bottom right;}
.bg_phillips_ii { padding-top: 6px; font-family: Trebuchet MS; font-size: 14px; color: #1e1d1e; line-height: 18px; background-image: url(images/bg_phillips_ii.jpg); background-repeat: no-repeat; background-position: bottom right;}
.bg_phillips_square_driv { padding-top: 6px; font-family: Trebuchet MS; font-size: 14px; color: #1e1d1e; line-height: 18px; background-image: url(images/bg_phillips_square_driv.jpg); background-repeat: no-repeat; background-position: bottom right;}
.bg_pozidriv { padding-top: 6px; font-family: Trebuchet MS; font-size: 14px; color: #1e1d1e; line-height: 18px; background-image: url(images/bg_pozidriv.jpg); background-repeat: no-repeat; background-position: bottom right;}
.bg_pozilock { padding-top: 6px; font-family: Trebuchet MS; font-size: 14px; color: #1e1d1e; line-height: 18px; background-image: url(images/bg_pozilock.jpg); background-repeat: no-repeat; background-position: bottom right;}
.bg_pozisquare_driv { padding-top: 6px; font-family: Trebuchet MS; font-size: 14px; color: #1e1d1e; line-height: 18px; background-image: url(images/bg_pozisquare_driv.jpg); background-repeat: no-repeat; background-position: bottom right;}
.bg_torq_set { padding-top: 6px; font-family: Trebuchet MS; font-size: 14px; color: #1e1d1e; line-height: 18px; background-image: url(images/bg_torq_set.jpg); background-repeat: no-repeat; background-position: bottom right;}
.bg_tri_wing { padding-top: 6px; font-family: Trebuchet MS; font-size: 14px; color: #1e1d1e; line-height: 18px; background-image: url(images/bg_tri_wing.jpg); background-repeat: no-repeat; background-position: bottom right;}

.bg2_acr_phillips { background-image: url(images/bg2_acr_phillips.jpg); background-repeat: no-repeat; background-position: top center;}
.bg2_acr_torq-set { background-image: url(images/bg2_acr_torq-set.jpg); background-repeat: no-repeat; background-position: top center;}
.bg2_hexstix { background-image: url(images/bg2_hexstix.jpg); background-repeat: no-repeat; background-position: top center;}
.bg2_mortorq { background-image: url(images/bg2_mortorq.jpg); background-repeat: no-repeat; background-position: top center;}
.bg2_mortorq_super { background-image: url(images/bg2_mortorq_super.jpg); background-repeat: no-repeat; background-position: top center;}
.bg2_phillips_ii { background-image: url(images/bg2_phillips_ii.jpg); background-repeat: no-repeat; background-position: top center;}
.bg2_phillips_square_driv { background-image: url(images/bg2_phillips_square_driv.jpg); background-repeat: no-repeat; background-position: top center;}
.bg2_pozidriv { background-image: url(images/bg2_pozidriv.jpg); background-repeat: no-repeat; background-position: top center;}
.bg2_pozilock { background-image: url(images/bg2_pozilock.jpg); background-repeat: no-repeat; background-position: top center;}
.bg2_pozisquare_driv { background-image: url(images/bg2_pozisquare_driv.jpg); background-repeat: no-repeat; background-position: top center;}
.bg2_torq_set { background-image: url(images/bg2_torq_set.jpg); background-repeat: no-repeat; background-position: top center;}
.bg2_tri_wing { background-image: url(images/bg2_tri_wing.jpg); background-repeat: no-repeat; background-position: top center;}

.wizard_bg1 { background-image: url(images/wizard_bg1.png); background-repeat: no-repeat;}
.wizard_bg2 { background-image: url(images/wizard_bg2.png); background-repeat: no-repeat;}
.overlaywizard { 
  width: 100%; 
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=25)";
  filter: alpha(opacity=25);
  -moz-opacity:0.25;
  -khtml-opacity: 0.25;
  opacity: 0.25;
}
  
.contact_bg { background-image: url(images/contact_side_new.png); background-repeat: no-repeat;}

.slide-out-div { width: 280px; position: absolute; z-index: 1;}
.tooltip{ position: absolute; top: 0; left: 0; z-index: 3; display: none; }

/*
    ColorBox Core Style
    The following rules are the styles that are consistant between themes.
    Avoid changing this area to maintain compatability with future versions of ColorBox.
*/
#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:9999; overflow:hidden;}
#cboxOverlay{position:fixed; width:100%; height:100%; z-index: 9998;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative; overflow:hidden;}
#cboxLoadedContent{overflow:hidden;}
#cboxLoadedContent iframe{display:block; width:100%; height:100%; border:0; overflow:hidden;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}

/* 
    ColorBox example user style
    The following rules are ordered and tabbed in a way that represents the
    order/nesting of the generated HTML, so that the structure easier to understand.
*/
#cboxOverlay{background:#000000; z-index: 9998; }
#flashPlaceHolder{z-index: -1;}
#colorbox{}
    #cboxContent{margin:0px;}
        #cboxLoadedContent{padding:0px;}
        #cboxCurrent{position:absolute; top:-22px; right:205px; text-indent:-9999px;}
        #cboxSlideshow, #cboxPrevious, #cboxNext, #cboxClose{text-indent:-9999px; width:20px; height:20px; position:absolute; top:-20px; background:url(images/controls.png) 0 0 no-repeat;}
        #cboxPrevious{background-position:0px 0px; right:44px;}
        #cboxPrevious.hover{background-position:0px -25px;}
        #cboxNext{background-position:-25px 0px; right:22px;}
        #cboxNext.hover{background-position:-25px -25px;}
        #cboxClose{background-position:-50px 0px; right:0;}
        #cboxClose.hover{background-position:-50px -25px;}
        .cboxSlideshow_on #cboxPrevious, .cboxSlideshow_off #cboxPrevious{right:66px;}
        .cboxSlideshow_on #cboxSlideshow{background-position:-75px -25px; right:44px;}
        .cboxSlideshow_on #cboxSlideshow.hover{background-position:-100px -25px;}
        .cboxSlideshow_off #cboxSlideshow{background-position:-100px 0px; right:44px;}
        .cboxSlideshow_off #cboxSlideshow.hover{background-position:-75px -25px;}
